<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>{{pageTitle}}</title>
   </head>
   <body>
      {{> header}}

      <ul>
         {{#each presentProjects}}
            <li>{{@index}} - {{this}}</li>
         {{/each}}
      </ul>

      {{> footer}}
   </body>
</html>
